@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F3F1FF;
}

/* common style */
main {
display: flex;
flex-direction: column;
align-items: center;
}

.container {
    width: 1000px;
    background-color: white;
    padding: 33px;
    margin-bottom: 30px;
    border-radius: 5px;

}

.heading {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #562eff;
    margin-bottom: 35px;
}
/* common style ends */

/* header style start */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #562EFF;
    height: 95px;
    width: 100vw;
    margin-bottom: 30px;
}
.navbar {
    width: 1000px;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-item {
    display: flex;
    align-items: center;
}


.logo {
    height: 51px;
    width: 41px;
}
.logo-text {
    font-size: 24px;
    line-height: 36px;
    color: #Fff;
    margin-left: 16px;
}

.menu-items > .menu > img {
    height: 51px;
    width: 51px;
}
.menu-items > .menu > a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #Fff;
    line-height: 24px;

}
.menu {
    display: flex;
    align-items: center;
    gap: 36px;
}
/* header style starts */

/* top player style start */

.players > .player > img {
    height: 56px;
    width: 56px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.player {
    display: flex;
    align-items: center;
    gap: 16px;
}
.player-name {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}

/* top player style end */

hr {
    margin: 30px 0;
    color: #d1d1d1;
    height: 1px;
    width: 100%;
}

/* top blog style start */


.blogs {
    display: grid;
    grid-template-columns: 6.5fr 5.5fr;
    gap: 30px;
}
.blog {
    display: flex;
    gap: 16px;
}

.blog img {
    height: 117px;
    width: 177px;
}
.blog-heading {
    color: #000;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
}
.author {
    margin-top: 6px;
    font-weight: 400;
    color: #9f9f9f;
    font-size: 16px;
    line-height: 24px;
}
.author-name {
    color: #562eff;
}

/* top blog style end */


/* latest course start */

    .courses {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);

    }
    .course {
        border-radius: 15px;
        width: 250px;
        padding: 12px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    }
    .course img {
        height: 104px;
        width: 224px;
    }
    .course-heading {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-top: 16px;
        font-size: 20px;
        line-height: 24px;
        color: #1e1e1e;
        text-transform: capitalize;
    }
    .instructor {
        margin-top: 7px;
        margin-bottom: 20px;
        font-weight: 400;
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 18px;
        color: #ed6b4f;
    }
    .rating-time {
        display: flex;
        justify-content: space-between;
    }
    .fa-star {
        font-size: 12px;
        color: #ffc014;
    }
    .empty {
        color: #aeaeae;
    }
    .rating-text {
        font-size: 15px;
        line-height: 22px;
        color: #a2a2a2;
    }
    .fa-clock {
        font-size: 20px;
        color: #ff4a60;
    }
    .course-duration {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #ff4a60;
    }
    .time {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        padding: 4px 6px;
        background-color: #ffe4e8;
        border-radius: 15px;
    }

/* latest course end */
/* media queries start */

/* extra small device start */
@media screen and (max-width: 576px) {
    header {
        display: none;
    }
    .container {
        width: 100%;
        padding: 10px;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 10px;
    }
    .blogs {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .courses {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

    }
}
/*extra small device end */


/* small device start */

@media screen and (min-width: 577px) and (max-width: 767px) {
    header {
        display: none;
    }
    .container {
        width: 100%;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        
    }
    .blogs {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

    }
}

/* small device end */

/* medium device start */

@media screen and (min-width: 768px) and (max-width: 991px) { 
    .container {
        width: 100%;
    }
    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

    }
}

/* medium device end */












/* media queries end */
